#PHOTOSOBLIQUES_EXTENSION {
    max-width: 555px;
    max-height: 700px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 35px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

.PHOTOSOBLIQUES_scrollBar{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 70vh;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

.PHOTOSOBLIQUES_paragraphs{
    margin-top: 15px;
    margin-left: 10px;
    max-width: 500px;
}

.PO_iconSize{
    width: 25px;
    height: 25px;
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
button .PO_iconSize{
    filter: invert(26%) sepia(4%) saturate(8%) hue-rotate(334deg) brightness(104%) contrast(87%);;
}

button.active .PO_iconSize{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

/* Section renderTabMenu() */

.PHOTOSOBLIQUES_rowTabs{
    padding: 10px;
}

.PHOTOSOBLIQUES_homeButton, .PHOTOSOBLIQUES_selectButton, .PHOTOSOBLIQUES_sendButton {
    /* margin: 20px; */
    width: 100px;
    background-color: inherit;
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

.PHOTOSOBLIQUES_active{
    border-bottom: 0px solid white;
    background-color: white;
    color: black;
}

button.PHOTOSOBLIQUES_active{
    border-bottom: 1px solid white!important;
    border-top: 1px solid #ddd!important;
    border-left: 1px solid #ddd!important;
    border-right: 1px solid #ddd!important;
    background-color: white;
    color: black;
}

.PHOTOSOBLIQUES_selectorButton.PHOTOSOBLIQUES_active {
    border: none;
}

/* Fin section renderTabManu() */

#SAMPLE_EXTENSION {
    background-color: rgba(255,255,255,.9);
    border-radius: 10px;
    max-width: 550px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

/* Tabs */

.PO_rowTabs{
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.PO_homeButton, .PO_selectButton {
    /* margin: 20px; */
    width: 100px;
    background-color: inherit;
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

.PO_active{
    border-bottom: 0px solid white;
    background-color: white;
    color: black;
}

/* Filtres de recherche */ 
.PO_filterSelectionMainDiv{
    padding-left: 15px;
    padding-right: 15px;
}

.helpBtnAccess{
  position:absolute;
  left:515px;
  z-index: 10000;
}
.helpBtnAccess .glyphicon{
  cursor: pointer;
  font-size: 20px;
}

/* Compass */
  
  /*boussole*/

  .PO_compassMainStyle, .PO_deletionGlyph {
    margin-top: 19%;
  }

  .PO_deletionGlyph{
    cursor: pointer;
    right: 10%;
    position: absolute!important;
  }
  
  .PO_compass {
    width: 130px;
    height: 130px;
    position: relative;
    margin: auto auto;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 6px .8px #999;
    animation: sliding 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: sliding 1.9s ease-in-out;
  }
  
  .PO_compass-main {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -47%; margin-left: -47%;
    /* background: radial-gradient(#EEE 50%, #DDD 80%); */
    border-radius: 50%;
  }
  
  .PO_compass-rose {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -35%; margin-left: -35%;
  }
  
  .PO_pointer {
    width: 0;
    height: 0;
    position: absolute;
    border: 50px solid;
    border-left: 10px solid;
    border-right: 10px solid;
  }
  
  .cardial-points .PO_pointer {
    border-color: #DDD transparent transparent transparent;
  }
  
  .ordinal-points .PO_pointer {
    border-color: #AAA transparent transparent transparent;
  }
  
  .PO_north-pointer {
      margin-top: -53px;
      left: 57%;
      margin-left: -13px;
      transform: rotate(180deg);
    }
    
    .PO_east-pointer {
      top: 42%;
      right: -19px;
      margin-top: -44px;
      transform: rotate(-90deg);
    }
  
    .PO_west-pointer {
      top: 42%;
      left: -14px;
      margin-top: -44px;
      transform: rotate(90deg);
    }
  
    .PO_south-pointer {
      bottom: 0px;
      margin-bottom: -55px;
      left: 57%;
      margin-left: -13px;
    }
  
  .PO_north-label {
    position: absolute;
    top: -3px;
    left: 59px;
  }
  
  .PO_east-label {
    position: absolute;
    top: 51px;
    right: -1px;
  }
  
  .PO_west-label {
    position: absolute;
    top: 51px;
    left: -2px;
  }
  
  .PO_south-label {
    position: absolute;
    top: 107px;
    left: 60px;
  }
  /*fin boussole*/
  
  /*aiguille à tourner*/
  .PO_rotate{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* En cas de rotation à 90 degrés */
    /* transform: rotate(90deg); */
    /* En cas de rotation décaléee pour mieux fit les hitboxes */
    transform: rotate(102.25deg);
    pointer-events: none;
  }
  .PO_losange{
    width: 60px;
    height: 60px;
    background-color: #777;
    transform: rotateX(80deg) rotateZ(45deg);
    pointer-events: none;
  }

  .PO_rotate2{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* En cas de rotation à 90 degrés */
    /* transform: rotate(90deg); */
    /* En cas de rotation décaléee pour mieux fit les hitboxes */
    transform: rotate(102.25deg);
    pointer-events: none;
    top: 30px;
    left: 65px;
    position: absolute;
  }

.PO_rotate2Hidden{
  visibility: hidden;
}

  .PO_losangeSelected{
    width: 60px;
    height: 60px;
    background-color: #444;
    transform: rotateX(80deg) rotateZ(45deg);
    pointer-events: none;
    position: absolute;
  }

  .PO_hideLosangeSelected{
    display: none;
  }
  /*fin aiguille*/
  
  /*zones de survol*/
  .PO_circle {
    position: absolute;
    padding: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    /* better hitboxes */
    transform: rotate(-12.25deg);
  }
  
  .PO_masterclass li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    opacity: 0; /*changer pour voir les portions*/
  }
  
  .PO_text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
  }
  
  .PO_masterclass li:first-child {
    transform: rotate(0deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(2) {
    transform: rotate(22.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(3) {
    transform: rotate(45deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(4) {
    transform: rotate(67.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(5) {
    transform: rotate(90deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(6) {
    transform: rotate(112.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(7) {
    transform: rotate(135deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(8) {
    transform: rotate(157.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(9) {
    transform: rotate(180deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(10) {
    transform: rotate(202.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(11) {
    transform: rotate(225deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(12) {
    transform: rotate(247.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(13) {
    transform: rotate(270deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(14) {
    transform: rotate(292.5deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(15) {
    transform: rotate(315deg) skewY(-60deg);
  }
  
  .PO_masterclass li:nth-child(16) {
    transform: rotate(337.5deg) skewY(-60deg);
  }
  
  /*Animation de l'aiguille*/
  #PO_part1:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(-77.75deg);
  }
  #PO_part2:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(-55.25deg);
  }
  #PO_part3:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(-32.75deg);
  }
  #PO_part4:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(-10.25deg);
  }
  #PO_part5:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(12.25deg);
  }
  #PO_part6:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(34.75deg);
  }
  #PO_part7:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(57.25deg);
  }
  #PO_part8:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(79.75deg);
  }
  #PO_part9:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(102.25deg);
  }
  #PO_part10:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(124.75deg);
  }
  #PO_part11:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(147.25deg);
  }
  #PO_part12:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(169.75deg);
  }
  #PO_part13:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(192.25deg);
  }
  #PO_part14:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(214.75deg);
  }
  #PO_part15:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(237.25deg);
  }
  #PO_part16:hover ~ .PO_rotate{
    visibility: visible;
    transform: rotate(259.75deg);
  }

  .PO_filterTitle{
    font-weight: bold;
    font-size: medium;
  }

  .PO_startDate, .PO_endDate{
    margin: 5px;
    width: 175px;
    /* styling */
    background-color: white;
    border: thin solid white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* arrow */
    background-image:
        linear-gradient(45deg, transparent 50%, grey 50%),
        linear-gradient(135deg, grey 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
  }

  .PO_dot {
    height: 5px;
    width: 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
  }

  .PO_part2{
    top: 10px;
    left: 85px;
  }

  .PO_part3{
    top: 22px;
    left: 102px;
  }

  .PO_part4{
    top: 40px;
    left: 112px;
  }

  .PO_part6{
    top: 80px;
    left: 112px;
  }

  .PO_part7{
    top: 97px;
    left: 102px;
  }

  .PO_part8{
    top: 110px;
    left: 85px;
  }

  .PO_part10{
    top: 111px;
    left: 35px;
  }

  .PO_part11{
    top: 97px;
    left: 18px;
  }

  .PO_part12{
    top: 80px;
    left: 6px;
  }

  .PO_part14{
    top: 38px;
    left: 8px;
  }

  .PO_part15{
    top: 20px;
    left: 20px;
  }

  .PO_part16{
    top: 8px;
    left: 38px;
  }

  /* validateForm */

 .PO_validateForm{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
 }

 .PO_validateForm > button {
     margin: auto;
     margin-top: 15px;
     margin-right: 5px;
 }

 /* searchResults */

 .PO_searchResultPictures{
  height: 100px;
  width: 140px;
  padding: 3px;
 }

 .PO_searchResultPictures:hover ~ .PO_searchResultPictures_apercu > img{
  display: block;
 }

 .PO_searchResultPictures_apercu{
    position: absolute;
    top: 50%;
 }

 .PO_static {
  position: static;
 }

 .PO_searchResultPictures_apercu > img{
  position: absolute;
  width: 40em;
  height: 40em;
  top: -500px;
  /* left: -575px; */
  right: 0;
  bottom: 0;
  display: none;
  object-fit: contain;
}

.PO_searchResultPicturesBasket_apercu > img {
  top: -250px;
}

 .PO_searchResults{
  margin: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  /* border: 1px black solid; */
  box-shadow: 3px 3px 3px 3px lightgray;
  /* height: 150px; */
  height: 100%;
  display: block!important;
  width: 95%!important;
  font-size: 11px;
  margin-left: 10px!important;
 }

 .PO_ellipsis {
  text-overflow: ellipsis;
 }

 .PO_selected{
  border-color: lightblue;
  box-shadow: 3px 3px 3px 3px lightblue;
 }

 .PO_selected:hover{
  border-color: lightblue;
  box-shadow: 0px 14px 28px lightblue;
 }

 .PO_addBasket, .PO_removeBasket, .PO_downloadBasket, .PO_search{
  max-height: auto;
  max-width: 115%;
  padding: 5px;
 }

 .PO_addBasket{
  margin-top: 5px;
 }

 .PO_downloadBasket, .PO_removeBasket, .PO_search{
  margin: 5px;
  width: 35px;
 }

 .PO_search{
  width: 25%;
 }

 .PO_resultPrecision{
  border-radius: 25px;
  margin: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
 }

 .PO_high_high{
  background-color: green;
 }

 .PO_high_low{
  background-color: lightgreen;
 }

 .PO_low_high{
  background-color: orange;
 }

 .PO_low_low{
  background-color: red;
 }

 .PO_fold {
	padding: 10px;
  margin: 10px;
	transition: all .5s linear .5s;
}

.PO_unfold-icon, .PO_fold-icon {
  color: #999;
  /* fixed width to stop the icon from wiggling*/
  width: 10px;
  display: inline-block;
}

.PO_bold{
  font-weight: bold;
}

.PO_resultOrganizationFilters{
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  justify-content: space-between;
}

.PO_resultAmount{
  margin-top: 15px;
}

.PO_masterclass hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

.PO_flexContainer{
  transform: translateY(40%);
}

.PO_text-align-left{
  text-align: left;
  /* margin: auto; */
}

.PO_basket_buttons_position{
  text-align: right;
  margin-right: 10px;
}

.PO_basket_counter_position{
  text-align: left;
  margin-left: 10px;
}

.PO_basket_sort_position{
  margin-left: 21%;
}

.PO_filterResults{
  position: absolute;
  /* left: 25%; */
  width: 97%;
  margin-left: 10px!important;
}

#PO_modal{
	position: fixed;
	z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* display: none; */
}

#PO_modal .PO_mask{
	background: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: -55px;
  width: 110%;
  height: 100%;
}

#PO_modal .container{
	position: relative;
	background: white;
	top: 30%;
	left: 48%;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	height: auto;
	min-height: 50px;
  border: solid 1px lightgrey;
}

#PO_modal .container .message{
	padding: 10% 5% 5% 5%;
}

#PO_modal .container div.PO_close{
	position: absolute;
	right: 3%;
	top:0%;
	color: #444;
	font-size: 30px;
}
#PO_modal .container div.PO_close:hover{		
	color: red;
}

/* Tooltip container */
.PO_tooltipZoom {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.PO_tooltipZoom .PO_tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  top: 3px;
  position: relative;
  width: 225px;
  display: inline-block;
  right: 137%;
}

.PO_bigTooltipDownload{
  top: -15px!important;
}

.PO_tooltipZoom .PO_tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.PO_tooltipDeletionBasket {
  position: relative;
  display: inline-block;
}

.PO_tooltipDeletionBasket .PO_tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.PO_tooltipDeletionBasket:hover .PO_tooltiptext {
  visibility: visible;
}

.PO_tooltipDeletionBasket .PO_tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.PO_tooltipDownloadBasket {
  position: relative;
  display: inline-block;
}

.PO_tooltipDownloadBasket .PO_tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 20%;
  margin-left: -60px;
}

.PO_tooltipDownloadBasket:hover .PO_tooltiptext {
  visibility: visible;
}

.PO_tooltipDownloadBasket .PO_tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 75%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.PO_searchResults:hover .PO_tooltiptext {
  visibility: visible;
}

.PO_tooltipHidden{
  visibility: hidden!important;
}

.PO_loadingContainer .PO_loading .mapstore-inline-loader {
	display: block !important;
	margin: auto;
  margin-top: 50px;
	height: 300px;
	width: 300px;
	border-width: 15px;
}

.PO_loadingContainer .PO_loading span {
	font-size: 22px;
  margin: 0 auto;
  display: table;
}

.PO_loadingContainer .PO_loading .sk-circle:before {
	background-color: white;
}

.PO_popupTextLabels{
  font-size: 10px;
}

.PO_top-spacing{
  margin-top: 5px;
}

.PO_glyph-info-sign{
  padding-left: 15px;
  margin: 0;
  position: absolute!important;
  transform: translateY(100%);
  font-size: 60px;
}

.PO_filterSelectionMainDiv select {
  width: 100%;
  max-width: 250px;
  margin: 5px!important;
}

.PO_zoomToGlyph{
  font-size: 20px;
  color: black;
}

.PO_greyed{
  background-color: lightgrey!important;
}

.PO_masterclass button{
  border: none;  
}

.PO_button_margin_bottom{
  margin-bottom: 20px;
}

.PO_addBasketWidth {
    position: absolute;
    width: 110px;
    left: -5px;
}

.PO_harmonizePrecision{
  transform: translateY(30%);
}