#PHOTOSOBLIQUES_EXTENSION {
    max-width: 555px;
    max-height: 700px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 35px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}

.PHOTOSOBLIQUES_scrollBar{
    overflow-y: scroll;
    max-height: 5000px;
    margin-right: 17px;
    cursor: pointer;
}

.PHOTOSOBLIQUES_paragraphs{
    margin-top: 15px;
    margin-left: 10px;
    max-width: 500px;
}

.iconSize{
    width: 25px;
    height: 25px;
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
button .iconSize{
    filter: invert(26%) sepia(4%) saturate(8%) hue-rotate(334deg) brightness(104%) contrast(87%);;
}

button.active .iconSize{
    filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

.PHOTOSOBLIQUES_rowTabs{
    padding: 10px;
    margin-bottom: 20px;
}

.PHOTOSOBLIQUES_homeButton, .PHOTOSOBLIQUES_selectButton, .PHOTOSOBLIQUES_sendButton {
    /* margin: 20px; */
    width: 100px;
    background-color: inherit;
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

.PHOTOSOBLIQUES_active{
    border-bottom: 0px solid white;
    background-color: white;
    color: black;
}
